//====================================================================================================
.btn {
	padding: 7px 20px;
	border: 2px #fff solid;
	border-radius: 13px;
	background-color: transparent;
	transition: all .4s;
	margin-bottom: 30px;

	&:hover {
		background-color: #fff;
		color: #000;
	}
}

.main__container {
	padding-top: 120px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 20px 0;
}

.item {
	width: 100%;
	position: relative;
}

.flex-wrapper {
	padding: 15px 40% 15px 25px;
	display: flex;
	justify-content: space-between;
	background-color: rgb(39 39 62);
}

.btn-panel {
	position: absolute;
	right: 30px;
	top: 15px;
}

//====================================================================================================

.addContact {
	padding: 0px 0px 80px 0px;
	display: flex;
	justify-content: space-between;

	input {
		width: 300px;
		background-color: transparent;
		color: #fff;
		border-bottom: 3px solid #5d635d;
		padding-left: 3px;

		&:active,
		&:focus {
			outline: none;
			border-bottom: 3px solid #1cc21c;
		}
	}

	&__btn {
		&:hover {
			text-decoration: underline;
		}
	}
}